div#upper-buttons {
    margin-top: 15px;
    margin-bottom: 15px;
}

.absent-checkbox {
    position: absolute !important;
    left: 38px;
    z-index: 4;
}

.user-info {
    position: absolute !important;
    left: 25px;
}
.absent {
    background-color: gray; 
}